.body-home {
  background-color: #680743 ;
}

.navbar-default {
  background-color:#680743;
  background-image: none;
  background-repeat: no-repeat;
 }

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.introPage {

  /* color: #680743; */
  color: white;
  font-weight: lighter;
  background-color: #014656
  text-align: center;
  /* font-family: "Open-Sans"; */
}
.introPage p{
  font-size: 28px;
  /* text-align: center; */
}


.introPage h1 {
  font-weight: lighter;
  text-align: center;
  font-size: 60px;
}

.center-block {
  float:none;
}

.centered{
  text-align: center;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.link {
  color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid;
}

.link:hover {
  color: #f9ddfc;
  underline: none;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.btn-1 {
  /* color: #ffffff; */
  color: #680743;
  /* background-color: transparent; */
  background-color: white;
  border: 2px solid #680743;
  border-color: #680743;
}
.btn-1:focus,
.btn-1.focus {
  color: #ffffff;
  background-color: #001d24;
  border-color: #000000;
}
.btn-1:hover {
  color: #ffffff;
  background-color: #820753;
  border-color: #770a4e;
}
.btn-1:active,
.btn-1.active,
.open > .dropdown-toggle.btn-1 {
  color: #ffffff;
  background-color: #001d24;
  border-color: #000000;
}
.btn-1:active:hover,
.btn-1.active:hover,
.open > .dropdown-toggle.btn-1:hover,
.btn-1:active:focus,
.btn-1.active:focus,
.open > .dropdown-toggle.btn-1:focus,
.btn-1:active.focus,
.btn-1.active.focus,
.open > .dropdown-toggle.btn-1.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-1:active,
.btn-1.active,
.open > .dropdown-toggle.btn-1 {
  background-image: none;
}
.btn-1.disabled:hover,
.btn-1[disabled]:hover,
fieldset[disabled] .btn-1:hover,
.btn-1.disabled:focus,
.btn-1[disabled]:focus,
fieldset[disabled] .btn-1:focus,
.btn-1.disabled.focus,
.btn-1[disabled].focus,
fieldset[disabled] .btn-1.focus {
  background-color: #014656;
  border-color: #01313d;
}
.btn-1 .badge {
  color: #014656;
  background-color: #ffffff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  body{
    font-size: 60px;
  }
}
